@mixin theme($theme: DarkGray) {
    font-family: 'Roboto', sans-serif;
    background: $theme;
    box-shadow: 0 0 1px rgba($theme, .25);
    color: #fff;
  }

  @font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto-Medium.ttf')  format('truetype');
    font-weight: bold;
    font-style: italic;
}

// @font-face {
//   font-family: Poppins;
//   src: url('./fonts/poppins/Poppins-Bold.ttf')  format('truetype');
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//     font-family: PlayfairDisplay;
//     src: url('./fonts/playFairDisplay/PlayfairDisplay-Bold.ttf')  format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//   font-family: PlayfairDisplay;
//   src: url('./fonts/playFairDisplay/PlayfairDisplay-Regular.ttf')  format('truetype');
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: Almarai;
//   src: url('./fonts/Almarai/Almarai-Regular.ttf')  format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: Almarai-Bold;
//   src: url('./fonts/Almarai/Almarai-Bold.ttf')  format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
// // black
// @font-face {
//     font-family: $font-family;
//     src: url('#{$font-path}/Roboto-Black.eot');
//     src: url('#{$font-path}/Roboto-Black.eot?#iefix') format('embedded-opentype'),
//         url('#{$font-path}/Roboto-Black.woff2') format('woff2'),
//         url('#{$font-path}/Roboto-Black.woff') format('woff'),
//         url('#{$font-path}/Roboto-Black.ttf') format('truetype'),
//         url('#{$font-path}/Roboto-Black.svg#Roboto-Black') format('svg');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }
// // bold
// @font-face {
//     font-family: $font-family;
//     src: url('#{$font-path}/Roboto-Bold.eot');
//     src: url('#{$font-path}/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
//         url('#{$font-path}/Roboto-Bold.woff2') format('woff2'),
//         url('#{$font-path}/Roboto-Bold.woff') format('woff'),
//         url('#{$font-path}/Roboto-Bold.ttf') format('truetype'),
//         url('#{$font-path}/Roboto-Bold.svg#Roboto-Bold') format('svg');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }
// // regular
// @font-face {
//     font-family: $font-family;
//     src: url('#{$font-path}/Roboto-Regular.eot');
//     src: url('#{$font-path}/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
//         url('#{$font-path}/Roboto-Regular.woff2') format('woff2'),
//         url('#{$font-path}/Roboto-Regular.woff') format('woff'),
//         url('#{$font-path}/Roboto-Regular.ttf') format('truetype'),
//         url('#{$font-path}/Roboto-Regular.svg#Roboto-Regular') format('svg');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }
// // light
// @font-face {
//     font-family: $font-family;
//     src: url('#{$font-path}/Roboto-Light.eot');
//     src: url('#{$font-path}/Roboto-Light.eot?#iefix') format('embedded-opentype'),
//         url('#{$font-path}/Roboto-Light.woff2') format('woff2'),
//         url('#{$font-path}/Roboto-Light.woff') format('woff'),
//         url('#{$font-path}/Roboto-Light.ttf') format('truetype'),
//         url('#{$font-path}/Roboto-Light.svg#Roboto-Light') format('svg');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }
// // // thin
// // @font-face {
// //     font-family: $font-family;
// //     src: url('#{$font-path}/Roboto-Thin.eot');
// //     src: url('#{$font-path}/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
// //         url('#{$font-path}/Roboto-Thin.woff2') format('woff2'),
// //         url('#{$font-path}/Roboto-Thin.woff') format('woff'),
// //         url('#{$font-path}/Roboto-Thin.ttf') format('truetype'),
// //         url('#{$font-path}/Roboto-Thin.svg#Roboto-Thin') format('svg');
// //     font-weight: 100;
// //     font-style: normal;
// //     font-display: swap;
// // }


